@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');


:root{
    --background-color:#0C0418;
    --font-primary-font-color:rgb(255, 255, 255);
    --primary-color:#BA0BF9;
    }
    
    *{
        margin: 0px;
        padding: 0px;
        font-family: "Antonio", sans-serif;
        font-weight: 400;
        color: var(--font-primary-font-color);


    }
    .container{
        padding: 0px 40px;
        background-color:var(--background-color);
    }